.lmj-cart{
    padding: 32px;
    color: white;
    background-color: #31b572;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 200px;
}

.lmj-cart-add-button {
    margin-left: 32px;
    cursor: pointer;
    
}

.lmj-cart-toggle-button {
    background-color: grey;
        padding: 5px;
    outline: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
    align-self: self-start;
    border-radius: 5px;
    color: white;
    align-self: flex-end;
    font-size: 15px;
}

.lmj-cart-closed{
    padding: 32px;
    width: 200px;
}

.lmj-cart-closed > button{
color: black;
background-color: #31b572;
}