.lmj-layout-inner {
	display: flex;
	flex-direction: row;
}
.button-style {
	border: none;
	border-radius: 5px;
	padding: 5px;
	color: white;
	background-color: grey;
	font-size: 15px;
	font-weight: 700;
}

.button-style:hover {
	box-shadow: 1px 1px 12px grey;
}